* {
	-webkit-tap-higlight-color: transparent;
  -webkit-user-select: none;    	
}

body {
  margin: 0;
  padding: 0;
  color: #919191;
  background: #222;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
	line-height: 18px;
}
a {
	color: #C8C8C8;
	text-decoration: none;
}
a:hover {
	color: #E4E4E4;
}
ul, li {
	padding: 0;
	list-style: none;
}
/* container, called "page" in WP theme */
#container {
	float: left;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#canvas {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 256px;
	height: 512px;
}
#logo {
	margin: 64px 0 0 0;
	width: 256px;
	height: 256px;
}
#logo ul {
	clear: left;
	display: block;
	margin: 0;
	padding: 0;
	width: 256px;
	height: 64px;
}
#logo li {
	float: left;
	clear: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 64px;
	height: 64px;
}
.dark {
	background: #919191;
}
.neutral {
	background: #C8C8C8;
}
.light {
	background: #E4E4E4;
}
#info {
	margin: 64px 0;
}
#info li {
	margin: 16px 0;
	padding: 0;
}
