* {
	-webkit-tap-higlight-color: transparent;
 	-webkit-user-select: none;    	
}

body {
	margin: 0;
	padding: 0;
	background: hsl(0, 0%, 13%);
	color: hsl(0, 0%, 57%);
	font-family: helvetica, sans-serif;
	font-size: 12px;
	font-weight: light;
	line-height: 18px;
}
a {
	color: hsl(0, 0%, 78%);
	text-decoration: none;
	&:hover {
		color: hsl(0, 0%, 89%);
	}
}
ul, li {
	padding: 0;
	list-style: none;
}

#container {
	float: left;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#canvas {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 256px;
	height: 512px;
}
#logo {
	margin: 64px 0 0 0;
	width: 256px;
	height: 256px;
	ul {
		clear: left;
		display: block;
		margin: 0;
		padding: 0;
		width: 256px;
		height: 64px;
		li {
			float: left;
			clear: none;
			display: block;
			margin: 0;
			padding: 0;
			width: 64px;
			height: 64px;
		}
		.dark {
			background: hsl(0, 0%, 57%);
		}
		.neutral {
			background: hsl(0, 0%, 78%);
		}
		.light {
			background: hsl(0, 0%, 89%);
		}
	}
}

#info {
	margin: 64px 0;
	li {
		margin: 16px 0;
		padding: 0;
	}
}