body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	line-height: 12px;
	background: #000;
}

ul {
	margin: 25px 0;
	list-style: none;
}
li {
	float: left;
	clear: left;
	margin: 10px 0 25px 0;
	list-style: none;
}

h1 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	line-height: 24px;
}
h2 {
	font-size: 14px;
	font-weight: 600;
	color: #333;
	line-height: 14px;
}
h3 {
	font-weight: 600;
	color: #333;
}
h4 {
	font-weight: 400;
	color: #999;
	margin: 30px 0;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: #3366CC;
}
a:hover {
	color: #336699;
}

.description {
	float: left;
	clear: left;
	display: block;
	width: 620px;
	color: #999;
}

img {
	float: left;
	width: 620px;
}
